{
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^(.*)constants/(.*)$",
    "^(.*)types(/.*)?$",
    "^(.*)models/(.*)$",
    "^[./]",
    "^\\.$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}