.overview {
  display: flex;
  flex-direction: column;

  .columns {
    display: flex;
    align-items: stretch;
    gap: 20px;

    .column {
      display: flex;
      min-width: 10vw;
      flex-direction: column;
    }
  }
}
