:root {
  --ratio: 1.15;
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: clamp(14px, calc(0.32vw + 1.24px), 18px);
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));
  --s9: calc(var(--s8) * var(--ratio));
  --s10: calc(var(--s9) * var(--ratio));

  /* COLORS */
  --black-value: 0, 0, 0;
  --white-value: 255, 255, 255;
  --green-value: 67, 160, 71;
  --grey-0-value: 4, 32, 64;
  --grey-1-value:54, 74, 97;
  --grey-2-value: 192, 192, 192;
  --grey-3-value: 224, 224, 224;
  --grey-4-value: 240, 240, 240;
  --grey-5-value: 248, 248, 248;
  --blue-0-value: 12, 38, 78; /* #0C264E */
  --blue-1-value: 12, 74, 158; /* #OC4A9E */
  --blue-2-value: 12, 89, 204; /* #0C59CC */
  --blue-3-value: 248, 251, 255; /* F8FBFF */
  --blue-1-hover-value: 0, 92, 134;
  --red-1-value: 255, 0, 0;
  --red-2-value: 255, 84, 84;
  --red-3-value: 255, 168, 168;
  --orange-value: 251, 140, 0;
  --black: rgb(var(--black-value));
  --white: rgb(var(--white-value));
  --green: rgb(var(--green-value));
  --grey-0: rgb(var(--grey-0-value));
  --grey-1: rgb(var(--grey-1-value));
  --grey-2: rgb(var(--grey-2-value));
  --grey-3: rgb(var(--grey-3-value));
  --grey-4: rgb(var(--grey-4-value));
  --grey-5: rgb(var(--grey-5-value));
  --blue-0: rgb(var(--blue-0-value));
  --blue-1: rgb(var(--blue-1-value));
  --blue-1-hover: rgb(var(--blue-1-hover-value));
  --blue-2: rgb(var(--blue-2-value));
  --blue-3: rgb(var(--blue-3-value));
  --red-1: rgb(var(--red-1-value));
  --red-2: rgb(var(--red-2-value));
  --red-3: rgb(var(--red-3-value));
  --orange: rgb(var(--orange-value));
  --linear-blue: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  --linear-green: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
  --linear-grey: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  --linear-pink: linear-gradient(195deg, rgb(236, 64, 122), rgb(216, 27, 96));
  --linear-red: linear-gradient(195deg, rgb(239, 83, 80), rgb(229, 57, 53));
  --linear-orange: linear-gradient(195deg, rgb(255, 167, 38), rgb(251, 140, 0));
  --shadow-block-1: rgba(var(--black-value), 0.4) 0px 10px 20px 5px;
  --shadow-block: rgba(16, 26, 49, 0.1) 0px 14px 14px 3px;
  --shadow-bar: -5px 0px 10px 1px rgba(var(--black-value), 0.3);
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
}